body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Courier New', monospace;
    background-color: #0A192F;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%) contrast(110%);
}

#clock {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 255, 170, 0.5);
    text-align: center;
    font-size: 26px;
    color: #64FFDA;
    font-weight: bold;
    backdrop-filter: blur(8px);
}

#username {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 255, 170, 0.5);
    text-align: center;
    font-size: 26px;
    color: #64FFDA;
    font-weight: bold;
    backdrop-filter: blur(8px);
}

h1, h2 {
    text-align: center;
    font-weight: bold;
    color: #F8F8F2;
    text-shadow: 0px 0px 15px rgba(100, 255, 218, 0.7);
    animation: fadeIn 2s ease-in-out, neonGlow 1.5s infinite alternate;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

#message-container {
    position: absolute; /* אם רוצים שהאלמנט יזוז עם הדף, ניתן לשנות ל-fixed */
    top: 80px; /* מרחק מהחלק העליון */
    left: 40px; /* מרחק מהצד השמאלי */
    right: 40px; /* מרחק מהצד הימני */
    max-height: calc(100vh - 120px); /* גובה הדף (100vh) פחות 80px של ה-top ועוד 40px רווח תחתון */
    overflow-y: auto; /* מאפשר גלילה אנכית במקרה שהטקסט חורג */
    background-color: black;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 255, 170, 0.5);
    color: #F8F8F2;
    text-shadow: 0px 0px 15px rgba(100, 255, 218, 0.7);
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    text-align: right;
    direction: rtl;
}



.message {
    font-size: 18px;
    direction: rtl; /* תומך בשפות כמו עברית */
    white-space: nowrap; /* מונע את העברת השורות */
    position: relative; /* למקם את הקו המהבהב בתוך אלמנט הטקסט */
    justify-content: flex-end; /* הצמדת התוכן לימין */

}

.cursor {
    position: absolute;
    right: 0; /* המיקום של הקו המהבהב מצד ימין של הטקסט */
    top: 0;
    font-size: 18px;
    font-weight: bold;
    animation: blink 0.7s infinite;
    visibility: hidden; /* הקו המהבהב מתחיל כלא נראה */
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.menu-erea {
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #0A192F;
    justify-content: center;
    margin-top: 20px;
    margin-block-end: 40px;
}

.menu-button {
    background-color: #0A192F;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 0px 20px #0A192F;
    transition: transform 0.2s, background-color 0.3s;
    margin: 10px;
    white-space: normal;  
    word-wrap: break-word; 
    flex-shrink: 0; 
}

.menu-button:hover {
    background-color: #df0404b3;
    transform: scale(1.05);
}

.menu-machines .menu-button {
    width: 230px; 
    height: 40px; 
    font-size: 24px;
}

.menu-day .menu-button {
    width: 160px; 
    height: 30px; 
    font-size: 15px;
}
.menu-hour .menu-button {
    width: 160px; 
    height: 30px; 
    font-size: 15px;
}

.menu-file .menu-button {
    width: 160px; 
    height: 30px; 
    font-size: 15px;
}

#file-upload-container {
    text-align: center;
    margin-top: 20px;
}

#error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}

.file-upload-container {
    width: 320px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 255, 170, 0.5);
    text-align: center;
    color: #64FFDA;
    font-weight: bold;
    backdrop-filter: blur(8px);
    animation: slideIn 1.5s ease-in-out;
}

.file-upload-container input {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 12px auto;
    border: 1px solid #64FFDA;
    border-radius: 5px;
    display: block;
    text-align: center;
    background-color: black;
    color: #F8F8F2;
    font-size: 18px;
    font-weight: bold;
    outline: none;
}

.file-upload-container input::placeholder {
    color: #F8F8F2;
    font-size: 18px;
    font-weight: bold;
}

.file-upload-container button {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 12px auto;
    background: #64FFDA;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(20, 227, 245, 0.7);
    transition: all 0.3s ease-in-out;
}

.file-upload-container button:hover {
    background: #F8F8F2;
    box-shadow: 0px 0px 15px rgba(100, 255, 218, 0.7);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes neonGlow {
    from { text-shadow: 0px 0px 10px rgba(100, 255, 218, 0.5); }
    to { text-shadow: 0px 0px 20px rgba(100, 255, 218, 1); }
}